extends layout

block content
  h1 Create Game

  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      br
      input#name.form-control(type='text', placeholder='Birthday party' name='name' required='true' value=(undefined===game ? '' : game.name) )

    div.form-group
      label(for='ownerEmail') Organizer email:
      br
      input#ownerEmail.form-control(type='text', placeholder='xyz@domain.com' name='ownerEmail' required='true' value=(undefined===game ? '' : game.ownerEmail) )

    div.form-group
      label(for='endDate') End date (ISO8601 yyyy-mm-dd) :
      br
      input#endDate.form-control(type='date', placeholder='2019-01-17' name='endDate' required='true')
      
    button.btn.btn-primary(type='submit') Create

  if errors 
    ul
      for error in errors
        li!= error.msg